{% extends "base.html" %}
{% block content %}
<h1>Create new item</h1>

{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/item">
  <div class="form-group">
    <label>Item Type</label>
    <select name="itemtype_id" class="form-control" type="text">
      {% for itemtype in itemtypes %}
      {% if attributes.itemtype_id == itemtype.id %}
      <option value="{{itemtype.id}}" selected="selected">{{itemtype.name}}</option>
      {% else %}
      <option value="{{itemtype.id}}">{{itemtype.name}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input name="description" class="form-control" type="text" value="{{attributes.description}}">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
{% endblock %}