{% import "macros/forms.html" as forms %}

{% extends "base.html" %}
{% block content %}
<h1>Item type: <small>{{itemtype.name}}</small></h1>

<p>
  {% if user_logged_in.admin %}
  {{forms.destroy_button("#{base_path}/itemtype/#{itemtype.id}/destroy")}}
  {% endif %}
  {% if user_logged_in %}
  <a href="{{base_path}}/itemtype/{{itemtype.id}}/edit" class="btn btn-default">Edit</a>
  {% endif %}
</p>

<ul>
  <li><strong>PN Prefix: </strong>{{itemtype.pnprefix}}</li>
  <li><strong>Next PN: </strong>{{itemtype.nextpn}}</li>
</ul>

<h3>Items</h3>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
      {% if user_logged_in %}
      <th></th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for item in items %}
    <tr>
      <td><a href="{{base_path}}/item/{{item.id}}">{{item.partnumber}}</a></td>
      <td>{{item.description}}</td>
      {% if user_logged_in %}
      <td><a class="btn btn-default btn-sm" href="{{base_path}}/item/{{item.id}}/edit">Edit</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}