{% extends "base.html" %}
{% block content %}
<h1>Edit user</h1>

<form method="post" action="{{base_path}}/user/{{user.id}}/edit">
  <div class="form-group">
    <label>Username</label>
    <input name="username" class="form-control" type="text" value="{{user.username}}">
  </div>

  <div class="form-group">
    <label>New Password (Leave this field empty if you don't want to change the password)</label>
    <input name="password" class="form-control" type="password">
  </div>

  <div class="form-group">
    <label>Admin</label>
    {% if user.admin%}
    <input name="admin" class="form-control" type="checkbox" value="admin" checked>
    {% else %}
    <input name="admin" class="form-control" type="checkbox" value="admin">
    {% endif %}
  </div>

  <div class="form-group">
  <button type="submit" class="btn btn-primary">Edit</button>
  </div>
</form>
{% endblock %}