{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>ElecDB</h1>
</div>

<div>
	<ul>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/item">Item List</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/itemtype">Item Type List</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendoritem">Vendor Item List</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendors">Vendor List</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/item/1">Show Item</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/item/2">Show Item with BOM</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/itemtype/1">Show Item Type</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendoritem/1">Show Vendor Item</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendor/1">Show Vendor</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/item/1/edit">Edit Item</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/itemtype/1/edit">Edit Item Type</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendoritem/1/edit">Edit Vendor Item</a></li>
		<li><a href="http://jacintor.users.cs.helsinki.fi/tsoha/vendor/1/edit">Edit Vendor</a></li>
	</ul>
</div>
{% endblock %}
